<!--The content below is for practice.-->
<div>
  <button (click)="show_News()">News</button>
  <button (click)="show_Stats()">Brenz Stats</button>
  <button (click)="show_ItemShop()">Item Shop</button>
</div>
<div [hidden]="!showNews">
<h1>Fortnite News</h1>
<div>
  <ul *ngFor = "let i = index; let title of response.data | keyvalue">
    <li>{{ response.data[i].title }}</li>
  <!-- <li *ngFor = "let i = index; let title of response.data | keyvalue" [attr.data-index]="i">{{ response.data[i].title }}</li> -->
    <ul class="lists">
      <li>{{ response.data[i].body }}</li>
        <ul class="lists">
          <li><img src="{{ response.data[i].image }}" style="width:300px;height:150px;"></li>
        </ul>
      <!-- <li *ngFor = "let b = index; let body of response.data | keyvalue" [attr.data-index]="b">{{ response.data[b].body }}</li> -->
    </ul>
  </ul>
</div>
</div>
<div [hidden]="!showStats">
  <h1>Brenz Stats</h1>
  <h2>Follow me on twitch // twitch.tv/brenz</h2>
  <div>
    <ul>
      <li>Regular Duos</li>
        <ul>
          <li>Eliminations: {{responseStats.data.stats.gamepad[1].entries[0].stats.kills }}</li>
          <li>Wins: {{ responseStats.data.stats.gamepad[1].entries[0].stats.placetop1 }}</li>
          <li>Players Outlived: {{ responseStats.data.stats.gamepad[1].entries[0].stats.playersoutlived }}</li>
        </ul>
      <li>Regular Squads</li>
        <ul>
          <li>Eliminations: {{responseStats.data.stats.gamepad[10].entries[0].stats.kills }}</li>
          <li>Wins: {{ responseStats.data.stats.gamepad[10].entries[0].stats.placetop1 }}</li>
          <li>Players Outlived: {{ responseStats.data.stats.gamepad[10].entries[0].stats.playersoutlived }}</li>
        </ul>       

  </ul>
  </div>
</div>
<div [hidden]="!showItemShop">
  <h1>Item Shop</h1>
  <ul *ngFor = "let i = index; let title of responseItemShop.data | keyvalue">
    <li>{{ responseItemShop.data[i].item.name }} {{ responseItemShop.data[i].store.cost }} {{ responseItemShop.data[i].item.obtained_type | uppercase }}</li>
      <ul class="lists">
        <li *ngIf="responseItemShop.data[i].item.images.featured; else elseBlock"><img src="{{ responseItemShop.data[i].item.images.featured }}" style="width:300px;height:300px;"></li>
        <ng-template #elseBlock>
          <li><img src="{{ responseItemShop.data[i].item.images.background }}" style="width:300px;height:300px;"></li>
          </ng-template>
        <li *ngIf="responseItemShop.data[i].item.description; else elseBlock2">{{ responseItemShop.data[i].item.description }}</li>
        <ng-template #elseBlock2>
            <li>{{ responseItemShop.data[i].item.rarity | titlecase}}  {{ responseItemShop.data[i].item.type | titlecase}}</li>
        </ng-template>
      </ul>
  </ul>

</div>


<!-- style="width:50px;height:50px;" -->
<!--  [attr.data-index]="i" -->